body {
  background-color: #d0ba94;
  color: #56371d;
}

.container {
  text-align: center;
  border: 4px #56371d solid;
  border-radius: 25px;
  width: 70%;
  max-width: 600px;
  min-height: 200px;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-family: "Playfair Display";
  font-optical-sizing: auto;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  gap: 4px;
  margin: 40px 0;
}
