body {
  background-color: #d0ba94;
  color: #56371d;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.container {
  width: 70%;
  max-width: 600px;
  min-height: 200px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

img,
a {
  margin: 0 auto;
  display: block;
}
